<launch>
  <arg name="yaml_config_file" default="$(find sensor_fusion_node)/config/fusion_config.yaml"/>
  <node pkg="sensor_fusion_node" type="sensor_fusion_node.py" name="sensor_fusion_node" output="screen" args="--config_file $(arg yaml_config_file)">
  </node>

  <arg name="rviz_file" default="$(find sensor_fusion_node)/rviz/fusion.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_file)"/>
</launch>
